<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="us.argeli.sushifinder" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>sushifinder</name>
  <description>
    A sushi restaurant finder.
  </description>
  <author email="andreas@argeli.us" href="http:://argeliu.us/">
    Andreas Argelius
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
